.tech-images {
    margin: 10px;
}



@media (max-width: 991px) and (min-width: 576px) {
    /* Medium screens (3 images per row) */
    .tech-images {
        width: 20%;
    }
}

@media (max-width: 575px) {
    /* Small screens (3 images per row) */
    .tech-images {
        width: 20%;
    }
}
